@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;700&family=Syne:wght@400;700;800&display=swap');


*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: black;
    min-height: 100vh;
}

.image-container a{
    text-decoration: none;
    color: inherit;
}

/*

main {
    flex: 1;
}

.image-container:hover {
    background-color: aliceblue;
}
*/
.image-container a:hover{
    text-decoration: none;
    color: blue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Set your desired transparent background color */
    padding: 10px;
    transition: background-color 0.4s ease; /* Smooth transition effect */
}


header h1 {
    justify-content: left;
    margin: 0;
    font-family: 'Syne', serif;
    font-weight: 700;
    color: black; /* Set your desired text color */
    transition: color 0.4s ease;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    /*background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    padding: 0.7em 2em 0.7em 2em;
    /*background-color: #f9f9f9;*/
    background-color: transparent;
    color: black;
    border:1px solid black;
    cursor: pointer;
    text-decoration:none;
}

a.button:hover, .button:hover{
    background-color: black;
    color: white;
}

.button:last-child {
    margin-right: 0;
}

.details {
    height: 100%;
    padding: 10px;
    font-size: 12px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-container {
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.button-container > a.button{
    width: 100%;
    text-align: center;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.image-container {
    width: calc(25% - 20px); /* Adjust the width and margin as needed */
    box-sizing: border-box;
    float: left;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: transparent;
    color: black;
    text-align: left;
    margin: auto 10px 0 10px; /* Push the footer to the bottom */
    padding: 10px 0 10px 0;
    font-size: 12px;
    font-weight: bold;
    border-top: 1px solid black;

}

footer.contactfooter{
    margin-top: 0;
}

footer h2{
    margin: 0;
    font-size: 32px;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
}

footer p{
    margin: 0 0 0 2px;
}

div.under p{
    font-size: 10px;
}

.fcont {
    display: flex;
}
.under {
    display: block;
}

.under a{
    color: black;
}

main.gallery{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    font-size: 12px;
}

.contact-form h3 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #000;
}

.contact-form .button{
    margin: 0;
}

@media (min-width: 768px) {

    main.gallery > div.image-container > div.details {
        min-height: 415.28px;
    }


    header:hover {
    background-color: black;
    transition: background-color 0.4s ease; /* Smooth transition effect */
    }


    header:hover h1{
        color: white;
    }

    header:hover .button{
        color: white;
        border:1px solid white;
        transition: color 0.4s ease;
    }
    header:hover .button:hover{
        background-color: white;
        color: black;
    }


}

@media screen and (min-width: 768px) and (max-width: 1080px){
    main.gallery > div.image-container > div.details > div.button-container {
        flex-direction: column;
    }

    main.gallery > div.image-container > div.details > div.button-container > a.button:first-child {
        margin-bottom: 10px;
    }
}

/* Add mobile styles here */
@media (max-width: 768px) {

    header h1{
        writing-mode: vertical-rl;
        font-size: 40px;
    }

    nav {
        width: 100%;
        flex-direction: column; /* Stack containers on top of each other */
        align-items:stretch; /* Stretch containers to full width */
        box-sizing: border-box;
    }

    nav > .button {
        margin:0 0 10px 0;
        padding: 10px;
        text-align: left;
    }

    .image-container {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
    }

    main.gallery > .image-container{
        margin-bottom: 10px;
    }

    header:hover h1{
    color: black;
}

    header:hover .button{
        color: black;
        border:1px solid black;
        transition: color 0.4s ease;
    }
    header:hover .button:hover{
        background-color: black;
        color: white;
    }

    main.gallery {
        padding-top: 0;
        margin: 0 10px 0 10px;
    }

    .contact-form {
        width: 100%;
        margin: 0;
    }

    .footinfo h2{
        font-size: 20px;
    }

    footer.contactfooter{
        margin: 0 20px 0 20px;
    }
}